{% extends "base.html" %}
{% load static %}

{% block title %}
    Task Details
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            
            <div class="col-5">

                <div class="card mb-3">
                    <div class="row">
                        {% comment %} <div class="col-md-13">
                            <img src="{{task.image.url}}" alt="" class="img-fluid" >
                        </div> {% endcomment %}
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ task.name }}
                                </h5>
                                <p class="card-text">{{task.description|safe}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
{% endblock %}